# Hello folks!

```go
package main

import "fmt"

type Person struct {
	Name     string
	Pronouns []string
}

func (p *Person) Greet() string {
	return fmt.Sprintf("Hello! I'm %s.", p.Name)
}

func main() {
	me := &Person{
		Name:     "chonla",
		Pronouns: []string{"he", "him", "his"},
	}
	fmt.Println(me.Greet())
}
```

## Blogs

{{#posts}}
- [{{title}}]({{link}})
{{/posts}}

## Pinned repositories

I have created many public repositories. These are some of them.

| Name | Description |
| --- | --- |
{{#repositories}}
| [{{name}}]({{url}}) | {{description}} |
{{/repositories}}

[See more](https://github.com/chonla?tab=repositories).

## Holopin badges

[![An image of @chonla's Holopin badges, which is a link to view their full Holopin profile](https://holopin.me/chonla)](https://holopin.io/@chonla)
