# Hello folks!

```go
import main

type Person struct {
    Name string
    Pronouns []string
    CurrentRole string
}
```

## Blogs

{{#posts}}
- [{{title}}]({{link}})
{{/posts}}

## Repositories

| Name | Description |
| --- | --- |
{{#repositories}}
| [{{name}}]({{url}}) | {{description}} |
{{/repositories}}